target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Firebase
*-credentials.json
firebase-adminsdk*.json
*adminsdk*.json
serviceAccountKey.json

# Environment
*.env
.env.*
application-local.properties